.vs/
output/
src/IdeBridgeJsonProbe/bin/
src/IdeBridgeJsonProbe/obj/
src/VsIdeBridge/bin/
src/VsIdeBridge/obj/
src/VsIdeBridgeCli/bin/
src/VsIdeBridgeCli/obj/
tests/**/bin/
tests/**/obj/
src/VsIdeBridgeInstaller/bin/
src/VsIdeBridgeInstaller/obj/
src/VsIdeBridgeService/bin/
src/VsIdeBridgeService/obj/
